.l:hover {
  cursor: ew-resize;
}

.r:hover {
  cursor: ew-resize;
}

.u:hover {
  cursor: ns-resize;
}

.d:hover {
  cursor: ns-resize;
}

.lu:hover {
  cursor: nwse-resize;
}

.ru:hover {
  cursor: nesw-resize;
}

.ld:hover {
  cursor: nesw-resize;
}

.rd:hover {
  cursor: nwse-resize;
}

.simple-rc-drag-container {
    position: 'relative'; 
    width: '100%';
    height: '100%';
}

.simple-rc-drag-container:hover {
  cursor: move;
}